*.zip
BepInEx/cache/
BepInEx/config/
BepInEx/core/
BepInEx/interop/
BepInEx/unity-libs/
BepInEx/*.log
D3D12/
dotnet/
.doorstop_version
docs/
**/bin/
**/obj/
*.exe
*.dll
!BepInEx/plugins/*.dll
GameAssembly.dll
UnityCrashHandler64.exe
UnityPlayer.dll
baselib.dll
doorstop_config.ini
changelog.txt
